body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #F5E9FF;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  font-style: italic;
}

.inputSection {
  margin: 10px 0px 10px 0px;
  width: 150px;

}

.inputs {
  width: inherit;
}

input {
  margin-top: 10px;
}

.addOption {
  background-color: #A5ECD7;
  border-radius: 8px;
  margin-top: 10px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.addOption:hover {opacity: 1}
